<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Magento_Sync.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<userSettings>
		<Magento_Sync.Settings>
   <setting name="api_token" serializeAs="String">
    <value />
   </setting>
   <setting name="api_url" serializeAs="String">
    <value />
   </setting>
   <setting name="replace" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="sql_database" serializeAs="String">
    <value />
   </setting>
   <setting name="sql_password" serializeAs="String">
    <value />
   </setting>
   <setting name="sql_server" serializeAs="String">
    <value />
   </setting>
   <setting name="sql_username" serializeAs="String">
    <value />
   </setting>
   <setting name="subiekt_linked" serializeAs="String">
    <value />
   </setting>
   <setting name="subiekt_similar" serializeAs="String">
    <value />
   </setting>
   <setting name="subiekt_user" serializeAs="String">
    <value />
   </setting>
   <setting name="subiekt_password" serializeAs="String">
    <value />
   </setting>
   <setting name="subiekt_linked_code" serializeAs="String">
    <value />
   </setting>
   <setting name="subiekt_similar_code" serializeAs="String">
    <value />
   </setting>
   <setting name="upgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
  </Magento_Sync.Settings>
	</userSettings>
</configuration>